# Rename this file to .env and replace the connection string
# Example for local development using Docker postgres service
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/barberdb?schema=public"